*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: rgb(247, 228, 206);
    color: saddlebrown;
}
.logo{
    width: 4rem;
    height: 4rem;
}
.menu-item:hover {
    transform: scale(1,2);
    animation: changeColor 0,8s;
}
.section-one-container, .section-two-container{
    display: flex;
    justify-content: center;
}
.carousel{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content:right;
}
.photo-item{
    width: 10rem;
    height: 10rem;
}
.titulos{
    display: flex;
    text-align: center;
    font-size:x-large;
    justify-content: center;
    margin: 2% 2%;
    font-weight: bold;
}
.contenedor{
    display: flex;
    justify-content:center;
}

.imagen-recom{
    width: 15rem;
    height: 15rem;
    margin: auto 2%;
}
.subtitulos, .textos{
    font-size: medium;
}
.contenedor-footer{
    display: flex;
    color: white;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
} 

li{
    list-style: none;
}