
@import "../base/mixin";

.section-one-container{
    @include contenedores (flex, center);
    .carousel{
        width: 30%;
        height: 100%;
        @include contenedores (flex, right);
    }
}
.section-two-container{
    @include contenedores (flex, center);
    .photo-item{
        width: 10rem;
        height: 10rem;
    }
}
.contenedor{
    @include contenedores (flex, center);
    .fila{
        .columna{
            .imagen-recom{
                width: 15rem;
                height: 15rem;
                margin: auto 2%;
                }
            }
        }
}