
@media (max-width:768px){
    .carousel-inner{
        display: none;
    }
    .container .fila .columna .imagen-post{
        height: 90%;
        width: 90%;
        justify-content: center;
        flex-wrap: wrap;
    }

}